<label for="username">User: <input id="username" type="text" [(ngModel)]="user"></label>
<div class="messages" #messagesContainer>
    <ul >
        <li *ngFor="let message of messages$">
            {{message.date | date:'shortTime'}} <b>{{[message.user]}}</b>: {{message.text}} <span *ngIf="message.id < 0">*</span>
        </li>
    </ul>
</div>
<label for="message"> >
    <input (keydown.enter)="handleSendMessage()"
           [(ngModel)]="text" id="message"
           type="text">
</label>
<label>
    +
    <input type="file" (input)="handleUploadFile($event)">
</label>

<button (click)="handleSendMessage()">Send</button>
